*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer>.board{
    height: 400px;
    width: 400px;
    background-color: blue;
    
    
    
}
.row1{
    display: flex;
}
.row2{
    display: flex;
}

.white1{
    height: 50px;
    width: 50px;
    background-color: white;
}
.black1{
    height: 50px;
    width: 50px;
    background-color: black;
}
